
body{
    background-color:#989898;
    font-family: cursive;
    margin:45px;
}

img{
    float: right;
}

#map{
    float: left;
}

.tittle{
    background-color: white;
    padding: 5px;
    
}

.idea{
    background-color: #018184;
    padding:5px;
}