
body{
    background-color:#989898;
    font-family: cursive;
    margin:45px;
}

img{
    float: right;
}

#map{
    float: left;
}

.tittle{
    background-color: white;
    padding: 10px;
    text-align: center;
    
}

.idea{
    background-color: #018184;
    padding:5px;
}

.grate{
    background-color: #B0E57C;
    padding: 5px;
    margin: 2px;
    
}

.excited{
    background-color: #FFAEAE;
    padding: 5px;
    margin; 2px;
}